AATS_ENVIRONMENT=dev
AATS_MODE=paper_live
AATS_DEFAULT_SYMBOL=BTC-USDT
AATS_PRIMARY_TIMEFRAME=15m
AATS_SECONDARY_TIMEFRAME=1h
AATS_INITIAL_USDT_BALANCE=10000
AATS_STORAGE_MODE=memory
AATS_DATABASE_URL=postgresql+psycopg://aats:aats@localhost:5432/aats
AATS_DATABASE_AUTO_CREATE_SCHEMA=true
AATS_MAX_ABS_POSITION_QTY=0.01
AATS_DEFAULT_ORDER_QTY=0.001
AATS_LOCAL_PUBLISH_ITERATIONS=6
AATS_LOCAL_PUBLISH_INTERVAL_SECONDS=0
AATS_PAPER_TAKER_FEE_BPS=5
AATS_API_HOST=127.0.0.1
AATS_API_PORT=8000
AATS_LOG_LEVEL=INFO
